body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black;
    padding: 15px;
}
.navbar {
    text-align:center;
}
.nav-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
h1{
  color: Black;
  font-size: 36px;
  text-align:center;
  font-family:Arial,Sans Serif;
  margin-bottom: 20px; 
}
  
h2{
  color: Black;
  font-size: 28px;
  text-align: center;
  font-family: Arial, Sans Serif;
  margin-bottom:15px
}
h1, h2{ text-align: center;
     color:black;
      }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
